#board {
  text-align: center;
  margin-bottom: 10px
}

#pieceBank {
  border: solid black;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  margin-top: 33%;
  width: 175px
}

.bank-icon {
  margin-right: 3px;
  margin-left: 3px
}