#board {
  text-align: center;
  margin-bottom: 10px;
  min-width: 500px;
  // overflow: auto
}

#pieceBank {
  border: solid black;
  border-radius: 10px;
  text-align: center;
  // margin: 50% auto 50% 100px;
  margin-top: 100px;
  margin-right: 25px;
  margin-left: 60px;
  width: 175px;
  padding: 5px;
  background-color: rgb(252, 255, 248);
}

.bankIcon {
  cursor: pointer;
  margin: 5px 3px;
  right: 5px
}

.playWords {
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
  font-size: 30px;
}

.square {
  position: relative;

  i {
    position: absolute;
    top: -5px;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer
  }
}

.white {
  color: rgb(202, 218, 238)
}

.pieceSelected {
  color: rgb(223, 33, 33)
}

.tile {
  cursor: pointer;
  height: 60px;
  width: 60px
}

.selected {
  outline: solid 3px rgb(228, 231, 23);
  outline-offset: -3px;
}

#emergencyMeetingDiv {
  text-align: center;
  margin-top: 125px;
  margin-right: 25px;
  border: solid black;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  background-color: rgb(252, 255, 248);

  img {
    cursor: pointer;
    max-width: 150px
  }
}

#save {
  text-align: center;
  border: solid 3px rgb(223, 33, 33);
  background-color: rgb(243, 234, 234);
  border-radius: 10px;
  margin-right: 150px;
  margin-left: 150px;
  cursor: pointer;

  &:hover {
    border: solid 3px rgb(231, 158, 23);
  }
}

#newGameButton {
  text-align: center;
  border: solid 3px rgb(223, 33, 33);
  background-color: rgb(243, 234, 234);
  border-radius: 10px;
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 10px;
  cursor: pointer;

  &:hover {
    border: solid 3px rgb(231, 158, 23);
  }
}

.listOfSaves {
  text-align: center;
  list-style: none
}

.saveText {
  font-weight: bold;
  cursor: pointer;
  margin: 3px;

  &:hover {
    color: rgb(223, 33, 33)
  }
}

#warning {
  margin-bottom: 3px;
}

.trash {
  margin-left: 10px;
  cursor: pointer;

  &:hover {
    color: rgb(223, 33, 33)
  }
}