@font-face {
  font-family: 'medieval';    
  src: asset-path(medieval) format("opentype");
  src: font_url('medieval.otf'); 
}

.top-bar {
  background-color: rgb(230, 240, 210);

  #title {
    font-family: "medieval"
  }

  a {
    color: black;
    margin: 4px
  }
  
  a:hover {
    color: rgb(223, 33, 33)
  }

  p {
    margin: 0
  }
}
